@import "tailwindcss";

:root {
  --background: #e8ddee;
  --foreground: #171717;
  --brand: #915bae;
  --brand-light: #a167c1;
  --custom-pink: #B72F78;
  --custom-pink-light: #FBEAF3;
  --custom-pink-dark: #B72F78;
  --custom-pink-medium: #D84597;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-nunito: var(--font-nunito);
  --font-lora: var(--font-lora);
  --color-brand: var(--brand);
  --color-brand-light: var(--brand-light);
  --color-custom-pink: var(--custom-pink);
  --color-custom-pink-light: var(--custom-pink-light);
  --color-custom-pink-dark: var(--custom-pink-dark);
  --color-custom-pink-medium: var(--custom-pink-medium);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
